body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #2B2D31;
    color: white;
    padding-left: 20rem;
    padding-right: 20rem;
    gap: 1rem;
}

#logo-header{
    justify-self: center;
    align-self: center;
    gap: 1rem;
    padding-top: 5rem;
}


#task-header{
    align-content: center;
    text-align: left;
    font-size: 1.5rem;
}

#content-section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    gap: 1rem;
}

p{
    margin: auto;
}

#subcontent{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #BDBDBD;
    text-align: center;
    font-size: 0.8rem;
    gap: 1rem;
    
}

footer{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

#btn-add{
    background-color: inherit;
    color: #989898;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: dashed #989898;
    border-radius: 0.4rem;
    text-align: center;
    height: 4.5rem;
    width: 100%;
}

.btn-config{
    cursor: pointer;
    border: none;
}




.closed{
    display: none;
    transition: 0.5s;
}
